.steelapp-page-wrapper {
  .steelapp-toolbar {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .steelapp-title-component {
      color: #848484;
      font-weight: 600;
      font-size: 18px;
      margin-left: 50px;
    }
  }
  
  .steelapp-content {
    background-color: #fff !important;
    overflow-y: auto;
  }
}

.ag-grid-app-wrapper {
  margin: 0px 12px 0px 12px !important;
  height: calc(100vh - 105px);

  .ag-header-pagination {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ag-steelapp-headerbutton {
      border: none;
      padding-bottom: 30px;
    }
  }
}

.root::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.root::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.root::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(157, 187, 245)),
    color-stop(0.72, rgb(134, 177, 230)),
    color-stop(0.86, rgb(83, 108, 184))
  );
}